<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="icon" type="image/png" href="/img/favicon.ico"/>
  <%- include('../partial/partial_css.ejs') %>
</head>
<body id="body">
    <%- include('../partial/partial_header.ejs') %>
    <%- include('../partial/partial_footer.ejs') %>
    <!-- Body -->
    
    <!-- End Body -->
    <%- include('../partial/partial_js.ejs') %>
</body>
</html>